@model IEnumerable<ProjetoEcommerce.Models.Produto>

    <p>
        <a asp-controller="Produto" asp-action="CadastrarProduto">Cadastrar Produto</a>
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CodProd)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descricao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Quantidade)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Preco)
                </th>
                <th>Ação</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CodProd)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descricao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantidade)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Preco)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "EditarProduto", new {id = item.CodProd}) |
                        @Html.ActionLink("Excluir", "ExcluirProduto", new {id = item.CodProd},
                            new {onclick = "return confirm('Deseja realmente Excluir esse item?');"})
                    </td>
                </tr>
            }
        
        </tbody>
    </table>
